/* Global */
html {
  font-family: droid-sans, Verdana, Helvetica;
  font-weight: 400;
  font-style: normal;
  width: 960px;
  margin: 0 auto;
  color: yellow;
}

body {
  background: black; 
  color: yellow;
  margin: 40px auto;
  max-width: 61.75em;
}

article {
  float: right;
  width: 70.85%;
  padding-bottom: 150px;
}

nav {
  float: left;
  width: 29.14%;
  font-size: 0.75em;
}

nav ul a{ color: yellow; text-decoration: none;}
nav ul { padding: 0 0 0 0; } 
nav ul a:hover{ color: #FFD300; text-decoration: none;}
nav li {
  list-style: none;
}
footer { 
  position: relative; 
  width: 792px; 
  height: 1.5em; 
  margin: -150px auto 0 auto;
  padding: 0 0 0 275px;
}
footer ul li { float:left; list-style:none;padding: 0 10px; }
footer ul a{ color: yellow; text-decoration: none;}
footer ul a:hover{ color: #FFD300; text-decoration: none;}

#main_wrapper {min-height: 100% }
.centered {display:inline-block; margin: 0 auto; position: relative; padding: 0 0 0 176px; }
.clear {clear: both; }
/* Splash Page */
#splash {
  display: block;
  width: 599px;
  margin: 0 auto;
}

#splash p#continue {width: 406px; margin: 0 auto; }

/* Home Page / Main */
article .quote {
  text-align: justify;
}

article .author_quote {
  float: right;
  font-style: italic;
}

article .home_img {
  display: block;
  text-align: center;
}


/* Schedule */
table .tdbold {font-weight:bold;}

table a {color: yellow; font-size: 0.75em; }

/* Location */
#gmaps-img {
  width: 424px;
  height: 350px;
  margin: 0 auto;
}

#gmaps-img small a { color: inherit; }
/* Gallery */
article.gallery img{
  margin: 5px;
  width: 15%;
}

/* Vendors */
#vendor_list {margin: 150px auto 0 auto; width: 180px;}
#vendor_list ul {margin: 0 0 0 0; padding: 0 0 0 0; list-style: none;}
#vendor_list a {color: inherit; text-decoration: none;}
#vendor_list a:hover {color: #FFD300; text-decoration: none;}
